global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: demo-app
    scrape_interval: 10s
    static_configs:
      - targets: ['192.168.56.11:8000']
  - job_name: node-exporter
    scrape_interval: 10s
    static_configs:
      - targets: ['192.168.56.11:9100']
  - job_name: cadvisor
    scrape_interval: 10s
    static_configs:
      - targets: ['192.168.56.11:8080']